---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
---

<Layout title="HOME / INICIO">
	<div class="hero-container">
		<div class="grid-top"></div>
		<div class="grid-mid"><Icon/></div>
		<div class="grid-bottom">
			<a href="#about" class="scroll-link">
				<span class="chevron">v</span>
				<span>ABOUT ME / SOBRE MÍ</span>
				<span class="chevron">v</span>
			</a>
		</div>
	</div>
</Layout>

<style>
	.hero-container{
		display: grid;
		grid-template-rows: 1fr auto 1fr;
		justify-content: center;
		align-items: center;
		min-height: 86svh;
		gap: var(--s6);
	}

	:global(.icon){
        height: auto;
        display: block;
        color: var(--black);
    }

	.scroll-link{
		display: flex;
		align-items: center;
		gap: var(--s3);
	}

	@media (min-width: 992px){
		.hero-container{
			display: block;
		}

		.grid-top, .grid-bottom{
			display: none;
		}

		:global(.icon){
			width: 19.4rem;
		}
	}
</style>