---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
---

<Layout title="HOME / INICIO">
	<div class="icon-container">
  		<Icon/>
	</div>
</Layout>

<style>
	.icon-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 86svh;
	}
</style>