<button id="to-top" aria-label="Scroll to top" class="hidden"><span class="chevron">TOP</span></button>

<script>
    const handleScroll = () => {
        const toTop = document.querySelector('#to-top');
        const scrollY = window.scrollY || document.documentElement.scrollTop;
        if (toTop) {
            if (scrollY > 400) {
                toTop.style.opacity = "1";
                toTop.style.pointerEvents = "auto";
                toTop.style.transform = "translateY(0)";
            } else {
                toTop.style.opacity = "0";
                toTop.style.pointerEvents = "none";
                toTop.style.transform = "translateY(10px)";
            }
        }
    };

    const setupToTop = () => {
        const toTop = document.querySelector('#to-top');
        if (toTop) {
            toTop.onclick = () => {
                window.scrollTo({ top: 0 });
            };
            window.addEventListener('scroll', handleScroll);
            handleScroll();
        }
    };
    document.addEventListener('astro:page-load', setupToTop);
</script>

<style>
    #to-top{
        position: fixed;
        right: var(--s1);
        bottom: var(--s5);
        z-index: 100;
        background: var(--accent);
        color: var(--lgrey);
        font-family: var(--font-mono);
        border: none;
        padding: 0 var(--s1);
    }

    #to-top.hidden{
        opacity: 0;
        pointer-events: none;
    }

    #to-top .chevron{
        font-size: 1.2rem;
    }

    @media (min-width: 992px){
        #to-top{
            display: none;
        }
    }
</style>